.header {
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 3%;
    padding: 10px 10%;
    margin: 3%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10%;
    margin: 3%;
}

.outlet{
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    margin: 3%;
}